body {
    margin: 20px 150px 30px;

    min-height: 100vh;

    font-family: 'Inter', Arial, sans-serif;
    color: var(--color-text-primary);

    background: var(--color-page-bg);

    @media (max-width: 1000px) {
        margin: 20px 100px;
    }

    @media (max-width: 850px) {
        margin: 20px 20px;
    }
}

#root {
    min-height: inherit;
}
