@import '@styles/declarations/mixins';

.FilterForm {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-width: 250px;
    width: 250px;

    padding: 15px;

    @include font(12px, var(--color-text-primary), 400);

    @media (max-width: 550px) {
        width: 100%;
    }
}
