@import "@styles/declarations/mixins";

.Raiting {
  display: flex;
  column-gap: 10px;

  width: 100%;
}

.Raiting-Block {
  display: flex;
  align-items: center;
  column-gap: 5px;

  .Raiting-Icon {
    width: 20px;
    height: 20px;
  }

  .Raiting-Value {
    @include font(12px, var(--color-text-primary), 400);
  }
}