@import '@styles/declarations/mixins';

.CurrentMoviePage {
    position: relative;

    display: flex;
    justify-content: center;
    column-gap: 20px;

    margin: 0 auto;

    &-PrevButton {
        position: sticky;
        top: 20px;

        margin-top: 15px;

        @include RichButton();
    }
}
