@import '@styles/declarations/mixins';

.Posters {
    position: relative;

    &-Poster {
        height: 240px;
        width: auto;

        border-radius: 5px;
        object-fit: cover;
    }

    @include SplideArrows();
}
