@import "./variables";

@mixin font($size, $color: var(--color-text-primary), $weight: 400, $lineHeight: false) {
  font: {
    size: $size;
    weight: $weight;
  }

  color: $color;

  @if $lineHeight {
    line-height: $lineHeight;
  }

  @else {
    line-height: 1.2em;
  }
}
