:root {
    --color-text-primary: #252b36;
    --color-text-secondary: #66758e;
    --color-text-white: #ffffff;
    --color-card-bg: #f7f8fa;
    --color-card-bg-hover: #ebeef4;
    --color-card-border: #e4e5ed;
    --color-accent: #6949ff;

    --radius-small: 16px;
    --radius-big: 34px;

    --transition-primary: 0.25s;

    --color-skeleton-content: #e7ebf2;
    --skeleton-gradient: linear-gradient(
        to right,
        transparent 33%,
        rgba(255, 255, 255, 0.52) 48.5%,
        rgba(255, 255, 255, 0.52) 51.5%,
        transparent 67%
    );
    --skeleton-transition: 2s;
}
