@import '@styles/declarations/mixins', '@splidejs/react-splide/css';

.CurrentMovie {
    display: flex;
    flex-direction: column;
    column-gap: 30px;

    width: 1000px;

    @media (max-width: 850px) {
        width: 95%;
    }
}

.CurrentMovie-Promo {
    display: flex;
    gap: 20px;
    width: 100%;

    .CurrentMovie-Poster {
        width: 25%;
    }

    @media (max-width: 850px) {
        flex-direction: column;

        .CurrentMovie-Poster {
            width: 250px;

            margin: 0 auto;
        }
    }
}

.CurrentMovie-Info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    width: 70%;

    .CurrentMovie-NameAndYear {
        @include font(32px, var(--color-text-primary), 600);
    }

    .CurrentMovie-AltNameAndRating {
        @include font(16px, var(--color-text-secondary), 400);
    }

    .CurrentMovie-Ratings {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-top: 20px;
    }

    @media (max-width: 850px) {
        width: 100%;

        .CurrentMovie-NameAndYear,
        .CurrentMovie-AltNameAndRating {
            text-align: center;
        }

        .CurrentMovie-Ratings {
            width: 100%;
        }
    }
}

.CurrentMovie-Subtitle {
    margin: 25px 0;

    @include font(24px, var(--color-text-primary), 600);
}
