@import '@styles/declarations/mixins';

.MoviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;

    width: 1000px;

    &-Empty {
        margin: 55px auto;

        @include font(24px, var(--color-text-primary), 600);
    }

    @media (max-width: 850px) {
        width: 100%;
    }
}
